Variables

In [1]:
# Объявление переменной, например
name='Кеша'

In [2]:
#Вызов переменной
print(name)

Кеша

In [3]:
# Пример 1
nameP='Кузя'
age=1
period=3

In [4]:
print("Попугайчик ")
print(nameP)
print('возрастом')
print(age)
print('через')
print(period)
print('года, ему будет')
print(period+age)

Попугайчик
Кузя
возрастом
1
через
3
года, ему будет
4

ТИПЫ ДАННЫХ

In [5]:
data_bir='1988'
print(type(data_bir))
age=20
print(type(age))

<class 'str'>
<class 'int'>

In [6]:
age2=int(data_bir)+age

print(type(age2))

<class 'int'>

In [7]:
age3=str(age)
print(type(age3))

<class 'str'>

ВЫВОД ДАННЫХ

In [8]:
# ВЫВОД ЧЕРЕЗ PRINT  с помощью:
# через ,
# с помощью разделителя между словами :  sep=
# с помощью разделителя между строками :  end=

In [9]:
print(nameP,age)

Кузя 20

In [10]:
print(nameP,age, sep='/')

Кузя/20

In [11]:
print(nameP,age, sep='/', end='\n***********************')

Кузя/20
***********************

In [12]:
print(nameP,age, sep='/', end='***********************')

Кузя/20***********************

In [13]:
#Перенос данных на следующую строку  через :\n

print('Hello, \nNatalia')

Hello,
Natalia

In [14]:

months='Июнь, Июль,Август'
print('Летние меcясы это:',months)

Летние меcясы это: Июнь, Июль,Август

In [15]:
months='\nИюнь, \nИюль,\nАвгуст'
print('Летние меcясы это:',months)

Летние меcясы это:
Июнь,
Июль,
Август

In [16]:

# Вывод данных в одну строку
# Пример1
print(nameP, end=";")
print(age, end=";")

Кузя;20;

In [17]:
# Пример2 Вывести числа от 1 до 15  в столбец и в одну строку через запятую

In [18]:
for number in range (15):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [19]:
for number in range (15):
    if number<14:
        print(number, end=',')
    else:
        print(number)

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14

In [20]:
for i in range (5):
    if i<5:
        print(i, end=';')
    else:
        print(i)

0;1;2;3;4;